@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.routines {
  background-color: $background-primary;
  min-height: 100vh;
  color: $primary-text-color;
  margin: 0;
}

.page {
  &__title {
    @include font-style($medium-font, 1.25rem);
  }

  &__item {
    @include flex-row(space-between, baseline);
    @include font-style($regular-font, 0.75rem);
    gap: 0.5rem;
  }

  &__buttons{
    margin-right: 5%;
  }

  &__button {
    background-color: $background-primary;
    border: none;
    font-size: 1.25rem;
    padding: 0 0.75rem;
    transition: 0.1s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    &--edit{
        color: $highlight-secondary-color;
    }

    &--delete{
        color: $logo-primary-color;
    }
  }
}
