@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.logo{
    width: 10rem;
}

.questionnaire {
  background-color: $background-primary;
  @include flex-column(center, center);
  color: $primary-text-color;
  min-height: 100vh;
  padding: 5% ;

  &__title {
    @include font-style ($bold-font, 1.5rem);
    margin-bottom: 0rem;
  }

  &__description {
    @include font-style ($regular-font, 1rem);
    margin: 3% 10%;
  }

  &__options {
    @include flex-column (center, center);
  }

  &__button{
    @include font-style ($regular-font, 1rem);
    margin: 0.5rem 0;
    width: 18rem;
    padding: 0.5rem;
    color: $primary-text-color;
    background-color: $background-primary;
    border: .0625rem solid $highlight-secondary-color;
    border-radius: 1.25rem;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: $highlight-secondary-color;
        box-shadow: 3px 3px 3px 0 $logo-primary-color, 
        -3px -3px 3px 0 $logo-secondary-color;
        transform: scale(1.05);
    }
  }
}
