@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: $background-primary;
  color: $primary-text-color;
  padding: 20px;
  z-index: 1000;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.add-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-input {
  display: flex;
  align-items: center;

  input {
    flex: 1;
    background: $primary-text-color;
    color: $background-primary;
    border: 0.0625rem solid $highlight-secondary-color;

    &::placeholder {
      color: $background-primary;
      background-color: $highlight-primary-color;
      border: 0.0625rem solid $highlight-secondary-color;
    }
    &:focus-visible{
      border: 0.0625rem solid $highlight-secondary-color;
      color: $background-primary;
    }

  }
}

.remove-btn {
  margin-left: 10px;
}

.modal-buttons {
  @include flex-row(flex-end, center);
  gap: 1rem;
  padding: 1rem;
}

.add-btn,
.cancel-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.add-btn {
  background-color: #4caf50;
}

.cancel-btn {
  background-color: #f44336;
}

.submit-btn {
  background-color: rgb(0, 106, 255);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

label {
  padding: 0.5rem;
}

.action__sec {
  @include flex-row(space-between, center);
  padding: 0.25rem ;
}

.shelf-life-icon{
  padding-right: 0.5rem ;
}
