@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.calendar {
    
    &__title{
      @include font-style ($bold-font, 1.5rem);
        margin-bottom: 0;
        padding: 1rem;
    }

    &__view{
      @include flex-row (space-evenly, center);
    padding: 1rem;
    margin-bottom: 1rem;
    }
  
    &__day {
      @include font-style ($medium-font, 1rem);
      text-align: center;
      padding: .75rem 1.5rem;
      font-weight: bold;
      display: flex;
      flex-direction: column;
  
      &--today {
        background-color: #dd7e25b6;
        border-radius: 50%;
      }
    }

    &__week{
      font-size: 1.25rem;
    }
  }
  