@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: $background-primary;
  color: $primary-text-color;
  padding: 20px;
  z-index: 1000;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    @include font-style($bold-font, 1.25rem);
  }

  &__label {
    margin-left: 1.5rem;
  }

  &__input {
    @extend .action__label;
    width: 13rem;
    height: 1.25rem;
    background: $primary-text-color;
    color: $background-primary;
    border: 0.0625rem solid $highlight-secondary-color;

    &::placeholder {
      color: $background-primary;
      background-color: $primary-text-color;
      
    }
    &:focus-visible{
      border: 0.0625rem solid $highlight-secondary-color;
    }
  }

  &__secR {
    @include flex-column(flex-start, flex-start);
    margin: 0 5%;
    padding-bottom: 1rem;
  }

  &__section {
    @include flex-row(space-between, center);
    margin: 0 5%;
  }

  &__remove{
    background-color: $background-primary;
    font-size: 1rem;
    color: $highlight-secondary-color;
    border:none;
    padding-left: 0.5rem;
  }
}

.product-input {
  @include flex-row(space-between, center);
  padding: 0.25rem 0;
}

.product-input input {
  flex: 1;
}

.remove-btn {
  margin-left: 10px;

}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.add-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

label {
  @include font-style($medium-font, 0.75rem);
}