@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.main {
  padding: 0.5rem 0;
  background-color: $background-primary;
  color: $primary-text-color;

  &__header {
    @include flex-row(space-between, center);
    margin: 0% 5%;
  }

  &__logo {
    width: 4rem;
  }

  &__nav {
    @include flex-row(space-evenly, center);
    gap: 1rem;
  }
  &__link {
    @include font-style($medium-font, 1rem);
    text-decoration: none;
    color: $primary-text-color;
    transition: color 0.3s;
    padding: 0.25rem;

    &:hover {
      background-color: $highlight-secondary-color;
      border-radius: 0.25rem;
        box-shadow: 3px 3px 3px 0 $logo-primary-color, 
        -3px -3px 3px 0 $logo-secondary-color;
        transform: scale(1.05);
    }
  }

  &__link--active {
    background-color: $highlight-secondary-color;
        box-shadow: 3px 3px 3px 0 $logo-primary-color, 
        -3px -3px 3px 0 $logo-secondary-color;
        border-radius: 0.25rem;
  }
}
