@import './fonts';

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$bold-font: "bold";
$medium-font: "medium";
$regular-font: "regular";
$light-font:"light";

$primary-text-color: #ffffff;
$secondary-text-color: gainsboro;
$background-primary:#282c34;
$background-secondary: #FAFAFA;
$logo-primary-color: #FF5757;
$logo-secondary-color: #FFCF35;
$divider-color: #E1E1E1;
$highlight-primary-color: #5a798f;
$highlight-secondary-color: #dd7e25;